#where-am-i {
    display: block;
    width: 100%;
    margin: 10px 0 0 0;
    background: #eeeeee;
    height: 30px;
    padding: 5px 0 0 10px;
    border-radius: 3px;
}
#where-am-i ul li {
    display: inline-block;
    list-style: none;
}
#where-am-i ul li a {
    color: #555;
    text-decoration: none;
    font-size: 11px;
}
#where-am-i ul li a:hover {
    color: #888888;
}
.group {
    width: 100%;
    border-radius: 3px;
}
.group li {
    list-style: none;
    display: inline-block;
}
.group-head{
    background: #222222;
    color: #ffffff;
    border-radius: 3px;
    width: 100%;
    height: 36px;
    line-height: 36px;
}
.group-head ul li:nth-child(1), .group-body ul li:nth-child(1)  {
    width: 58%;
    padding: 0 0 0 1%;
    float:left;
}
.group-head ul li:nth-child(2),.group-head ul li:nth-child(3),.group-body ul li:nth-child(2),.group-body ul li:nth-child(3){
    text-align: center;
    float:left;
    width: 12%;
}

.group-head ul li:nth-child(3){
    width: 14%;
}

.group-head ul li:nth-child(4),.group-body ul li:nth-child(4){
    text-align: center;
    float:left;
    width: 16%;
}
.group-body ul li:nth-child(2), .group-body ul li:nth-child(3) {
    line-height: 56px;
}
.group-body {
    width: 100%;
}
.group-body ul{
    display: block;
    background: #f3f3f3;
    border-radius: 3px;
    height: 56px;
    margin: 0 0 2px 0;
    color: black;
}

.group-body ul li:nth-child(3){
    width: 14%;
}
.group-body ul li:nth-child(1) h3 {
    line-height: 20px !important;
    margin: 7px 0 0 0;
}
.group-body ul li:nth-child(1) h3 a{
    font-family: arial, sans-serif;
    color: #00c5e8;
    font-size: 15px;
    font-weight: normal;
    text-decoration: none;
}
.group-body ul li:nth-child(1) h3 a:hover{
    color: #000000;
}
.group-body ul li:nth-child(1) span {
    line-height: 14px !important;
    font-size: 11px;
    color: #666666;
}
.date-of-last {
    margin: 8px 0 0 0;
    display: block;
    font-size: 11px;
    text-decoration: none;
}
.user-of-last {
    margin: 4px 0 0 0;
    display: block;
}
.user-of-last a{
    font-size: 12px;
    color: black;
    text-decoration: underline;
}
.date-of-last span, .user-of-last span {
    font-size: 14px;
    margin: 0 3px 0 0;
}
.category-title {
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 20px 0 20px 0;
    font-weight: normal;
    float:left;
}
.button-holder a {
    color: white;
    display: inline-block;
    height: 30px;
    width: 100px;
    text-align: center;
    background-color: #00c0e3;
    text-decoration: none;
    border-radius: 3px;
    line-height: 30px;
    float: right;
    margin: 17px 0 0 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}
.button-holder a:hover {
    opacity: 0.8;
}
.pages ul li{
    list-style: none;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}
.pages ul li a{
    background-color: #00c0e3;
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 2px;
}
.pages ul li a:hover{
    background-color: black;
    color:#ffffff;
}
.inlines {
    display: inline;
    margin: 0 5px !important;
}