
#nav-content ul li{
    list-style: none;
    display: inline-block;
    line-height: 44px;
}
#nav-content ul li a{
    color: #222222;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    line-height: 44px;
    height: 100%;
    display: block;
    padding: 0 10px;
}
#nav-content ul li a:hover{
    color: #555555;
    background-color: #c9ecf9;
}